@import url('//at.alicdn.com/t/font_4444752_0w7y3y8k3j9j.css');

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 28rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
